<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  h1,h2,h3,h4,h5,h6 {font-family: "Oswald"}
  body {font-family: "Open Sans"}
</style>

    /* Header/Logo Title */
    .header {
      padding: 60px;
      text-align: center;
      background: #4CAF50;
      color: white;
      font-size: 30px;
    }

<header class="w3-container w3-xlarge w3-padding-45 w3-green">
  <p class="w3-left">Welcome to Mangar's Masks</p>
  <p class="w3-right">
    <i class="fa fa-shopping-cart w3-margin-right"></i>
    <i class="fa fa-search"></i>
  </p>
</header>


<body>
<div class="left">
  <app-sidebar></app-sidebar>
</div>

</body>
<style>
  body {
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 20px;
  }
</style>



<footer class="w3-padding-64 w3-white w3-small w3-center" id="footer">
  <div class="w3-row-padding">
    <div class="w3-col s4">
      <app-rating-stars></app-rating-stars>
    </div>


</body>



    <div class="w3-col s4">
      <img src="https://fastly.syfy.com/sites/syfy/files/styles/1200x680/public/2020/11/zootopia-flash-the-sloth.jpg?offset-x=100&offset-y=0" width="500" height="250">
    </div>


    <div class="w3-col s4 w3-justify">
      <p><i class="fa fa-fw fa-map-marker"></i> Mangar's Masks</p>
      <p><i class="fa fa-fw fa-phone"></i> 812-345-5522</p>
      <p><i class="fa fa-fw fa-envelope"></i> kham@mail.com</p>
      <h4>We accept</h4>
      <p><i class="fa fa-fw fa-credit-card"></i> Paypal</p>

      <br>
    </div>
  </div>
</footer>

