<head>
  <title>Page Title</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    /* Style the body */
    body {
      font-family: Arial;
      margin: 0;
    }

    /* Header/Logo Title */
    .header {
      padding: 60px;
      text-align: center;
      background: #4CAF50;
      color: white;
      font-size: 30px;
    }

    /* Page Content */
    .content {padding:20px;}
  </style>
</head>
<body>

<div class="header">
  <h1 style="font-size:60px; text-align: center"> MANGAR'S MASKS</h1>
</div>

<div class="row">
  <app-side-bar></app-side-bar>
</div>

</body>


