<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  h1, h2, h3, h4, h5, h6 {
    font-family: "Oswald"
  }

  body {
    font-family: "Open Sans"
  }
</style>

<header class="w3-container w3-xlarge w3-indigo">
  <p class="w3-left ">Mangar's Masks</p>
  <p class="w3-right">
    <i class="fa fa-shopping-cart w3-margin-right"></i>
  </p>
</header>

<body>
<div class="left">
  <app-sidebar></app-sidebar>
</div>
</body>
<style>
  body {
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;
  }
</style>

<footer class="w3-padding-64 w3-light-grey w3-small w3-center" id="footer">
  <div class="w3-row-padding">
    <div class="w3-col s4">
      <app-rating-stars></app-rating-stars>
    </div>
    <div class="w3-col s4 w3-justify">
      <h4>Store</h4>
      <p><i class="fa fa-fw fa-map-marker"></i> Mangar's Masks</p>
      <p><i class="fa fa-fw fa-phone"></i> 888-888-8888</p>
      <p><i class="fa fa-fw fa-envelope"></i> mangarsmasks@gmail.com</p>
      <h4>We accept</h4>
      <p><i class="fa fa-fw fa-paypal"></i> PayPal</p>
      <p><i class="fa fa-fw fa-credit-card"></i> Credit Card</p>
      <br>
    </div>
  </div>
</footer>

