<div class="d-flex">
  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills" orientation="vertical">
    <li ngbNavItem="top">
      <a ngbNavLink>Home</a>
      <ng-template ngbNavContent>
        <img  src="https://www.rainforest-alliance.org/sites/default/files/styles/750w_585h/public/2016-09/three-toed-sloth.jpg?itok=uWF-NdZZ" width="900px" height="900px" class="center">
      </ng-template>
    </li>
    <li ngbNavItem="masks">
      <a ngbNavLink>Masks</a>
      <ng-template ngbNavContent>
        <h2> Masks Selections</h2>

        <ul>
          <li *ngFor="let mask of masks" (click)="onSelect(mask)">{{mask.name}}</li>
        </ul>
        <div *ngIf="selectedOption">
          <br>
          <br>
          <app-mask-details [mask]="selectedOption"></app-mask-details>
          <br>
        </div>

        <div *ngIf="!selectedOption">
          <i>Please select a mask.</i>
          <br>
        </div>
      </ng-template>
    </li>
    <li ngbNavItem="contact">
      <a ngbNavLink>Contact Us</a>
      <ng-template ngbNavContent>
        <div class="w3-padding-64 w3-content w3-text-white" id="contact">
          <h2 class="w3-text-light-grey">Contact Us</h2>
          <hr style="width:200px" class="w3-opacity">

          <p>Have Questions? Send us a message:</p>

          <form action="mailto:kmangar@iu.edu" target="_blank">
            <p><input class="w3-input w3-padding-16" type="text" placeholder="Name" required name="Name"></p>
            <p><input class="w3-input w3-padding-16" type="text" placeholder="Email" required name="Email"></p>
            <p><input class="w3-input w3-padding-16" type="text" placeholder="Subject" required name="Subject"></p>
            <p><input class="w3-input w3-padding-16" type="text" placeholder="Message" required name="Message"></p>
            <p>
              <button class="w3-button w3-light-grey w3-padding-large" type="submit">
                <i class="fa fa-paper-plane"></i>   SEND MESSAGE
              </button>
            </p>
          </form>
          <!-- End Contact Section -->
        </div>
      </ng-template>
    </li>
    <li ngbNavItem="about">
      <a ngbNavLink>About Us</a>
      <ng-template ngbNavContent>
        <p>Insert stuff here</p>
      </ng-template>
    </li>
  </ul>

  <div [ngbNavOutlet]="nav" class="ml-4"></div>
</div>


