<!-- About Container -->
<div class="w3-container" id="about">
  <div class="w3-content" style="max-width:700px">
    <h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">ABOUT US</span></h5>
    <div class="w3-panel w3-leftbar w3-light-grey">
      <p>This is an online store built for Kham Mangar’s sister. Their aunts and uncle have been sewing handmade
        masks and sending them to Kham’s sister to sell. This will enable her to have her own online storefront getting
        her product out in the world with ease.</p>
    </div>

  </div>
</div>
