<div class="w3-padding-64 w3-content w3-text-black" id="contact">
  <p>Questions? Go ahead.</p>
  <hr style="width:510px" class="w3-opacity">

  <form action="mailto:kmangar@iu.edu" target="_blank">
    <p><input class="w3-input w3-border" type="text" placeholder="Name" required name="Name"></p>
    <p><input class="w3-input w3-border" type="text" placeholder="Email" required name="Email"></p>
    <p><input class="w3-input w3-border" type="text" placeholder="Subject" required name="Subject"></p>
    <p><input class="w3-input w3-border" type="text" placeholder="Message" required name="Message"></p>
    <button type="submit" class="w3-button w3-block w3-black"><i class="fa fa-paper-plane"></i> Send</button>
  </form>
</div>
